#board {
    width: 100%;
}

.vertical-screen {
    width: 24%;
    height: auto;
}

.horizontal-screen {
    height: 24%;
    width: auto;
}

#board .piece {
    width: 24%;
    height: auto;
    float: left;
}

#board .piece.red {
    background: #F00;
}
#board .piece.blue {
    background: #00F;
}
#board .piece.green {
    background: #0F0;
}
#board .piece.black {
    background: #000;
}

.selected {
    opacity:0.25;
    -moz-opacity: 0.25;
    filter: alpha(opacity=25);
}
