#board {
    width: 55%;
}

#board .piece {
    width: 20%;
    margin: 0 5% 5px 0;
    height: 50px;
    background: #000;
    float: left;
}

#board .piece.red {
    background: #F00;
}
#board .piece.blue {
    background: #00F;
}
#board .piece.green {
    background: #0F0;
}

.selected {
    opacity:0.25;
    -moz-opacity: 0.25;
    filter: alpha(opacity=25);
}